{% extends "base.html" %}

{{ super() }}
	{% block content %}
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
	<script src="static/jquery.js"> </script>
	<script src="{{url_for('static',filename='jquery.js')}}""></script>
	<script type="text/javascript" language="javascript">
		$(document).ready(function(){
			$("div button:nth-child(3n)").after("<br>");
			// $("<br>").insertAfter("#test").eq(2);
		});
	</script>
	<style>
	.center {
    margin: auto;
    width: 60%;
    /*border: 3px solid #73AD21;*/
    padding: 10px;
	}

	.btn-sq-lg {
  width: 150px !important;
  height: 150px !important;
	}
	</style>

		<div class="container">
			<div class="jumbotron">
			
				<form class="center" method="POST" action="/login">
					{{form.hidden_tag() }}
					{{ form.username.label }}<br> {{ form.username(size=30) }}<br>
					<!-- form.select_colors has bugs. We will temporary use a bootstrap and jquery form untill it's fixed -->
					<!-- {{ form.select_colors}} -->
					Please select your colors:<br>
					<div>
					{% for items in colors %}
					<button  type="button"  id="test" class="btn btn-sq-lg btn-default" style="background-color: {{items}}">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</button>
					{% endfor %}
					<div>
					<input type="submit" value="Submit">

				</form>
				
			</div>
		</div>
	{% endblock %}
	
