<!-- This code is here temporarily -->
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js">
</script>
<script>
$(document).ready(function(){
  // Pass background color of the boxes as the field value of the hidden field
    vals=[]
    $(document).on("click","#mod",function(){
      
      temp=$(this).css('background-color').slice(4,-1)
      vals.push(temp)
      $('#color').val(vals)

    })
});
</script>


{% extends "layout.html" %}
    <!-- Macros -->

    <!-- Macro for displaying error messages for invalid input -->
    {% macro with_errors(field, style) %}
        {% if field.errors %}
           <div class="errors">
               {% for error in field.errors %}<div style="{{style}}">{{ error|e }}</div>{% endfor %}
            </div>
        {% endif %}
    {% endmacro %}

    {% block content %}	
    {{ super() }}
    <h2 align="center">Login</h2>

    <div class="container">
        <form class="center" method="POST" action="/login">
            {{form.hidden_tag() }}

            <!-- email field -->
             <div class="form-group">
                 <div class="row">
                     <div class="col-lg-4">
                         <div>{{ form.email.label }}: {{ form.email(class="form-control", placeholder="Email Address")  }}</div>
                          
                         <!-- displayed if there is a validation error -->
                         {{ with_errors(form.email, style='font-weight: bold; color:red') }}
                    </div>
                 </div>
              </div>
            
            <!--display the color blocks -->
            <div class="form-group">
                <label>Please select your colors:</label>
                    {% for color_row in colors.items() | batch(3) %}
                     <div class="row">
                         {% for color_hex, color_name in color_row %}
                        <div class="col-lg-2">
                            <a href="#">
                                <div id="mod" class="square {{color_name}}" style="background-color: {{color_hex}}">
                                    <div style="display:none" id="{{color_name}}" class="glyphicon glyphicon-ok"></div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    {{ with_errors(form.color, style='font-weight: bold; color:red') }}
            </div>

            <!-- submit button -->
            <div class="form-group">
                <button class="btn btn-default" type="submit">Submit</button>
            </div>

        </form>
        
    </div>
	{% endblock %}


{% block head %}
<!-- For some reason, this block isn't working -->
    {{ super() }}

    <!-- Custom CSS File -->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/login.css')}}">

    <!-- jQuery Library -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>

    <!-- Custom JavaScript -->
    <script type="text/javascript" src= "{{url_for('static', filename='scripts/login.js')}}"></script>

{% endblock %}
