{% extends "layout.html" %}
    <!-- Macros -->

    <!-- Macro for displaying error messages for invalid input -->
    {% macro with_errors(field, style) %}
        {% if field.errors %}
           <div class="errors">
               {% for error in field.errors %}<div style="{{style}}">{{ error|e }}</div>{% endfor %}
            </div>
        {% endif %}
    {% endmacro %}

    {% block content %} 
    {{ super() }}
    <h2 align="center">Register</h2>

    <div class="container">
        <div class="col-md-8">
            <form class="center" method="POST" action="/register">
                {{form.hidden_tag() }}
                
                <div class="contents">
                <!-- name field -->
                 <div class="form-group">
                     <div class="row">
                         <div class="col-lg-6">
                             <div> 
                                 <h5>Name: </h5> {{ form.name(class="form-control", placeholder="Name")  }}</div>

                                 <!-- displayed if there is a validation error -->
                                 {{ with_errors(form.name, style='font-weight: bold; color:red') }}
                        </div>
                     </div>
                  </div>    
                    
                    
                <!-- email field -->
                 <div class="form-group">
                     <div class="row">
                         <div class="col-lg-6">
                             <div> 
                                 <h5>Email: </h5> {{ form.email(class="form-control", placeholder="Email Address")  }}</div>

                                 <!-- displayed if there is a validation error -->
                                 {{ with_errors(form.email, style='font-weight: bold; color:red') }}
                        </div>
                     </div>
                  </div>

                <!--display the color blocks -->
                <div class="form-group">
                    <h5>Select your colors:</h5>
                        {% for color_row in colors.items() | batch(3) %}
                         <div class="row">
                             {% for color_hex, color_name in color_row %}
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <a>
                                    <div class="square {{color_name}}" style="background-color: {{color_hex}}">
                                        <div style="display:none" id="{{color_name}}" class="glyphicon glyphicon-ok"></div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                        {{ with_errors(form.color, style='font-weight: bold; color:red') }}
                </div>

                <!-- submit button -->
                <div class="form-group">
                    <button class="btn btn-default" type="submit">Register</button>
					<a class="mobile" href="{{url_for('login')}}">Have an account?</a>
                </div>
                    
                </div>
            </form>
        </div>
        <div class="col-md-4" id="account">
            <h5 class="question">Already have an account?</h5>
            <a class="sidebar" href="{{url_for('login')}}">Login now</a>
            
            <br>
            <br>
            <h5 class="question">Forgot your password?</h5>
            <a class="sidebar" href="{{url_for('register')}}">Reset it here</a>
        </div>
        
    </div>
  {% endblock %}


{% block head %}
    {{ super() }}

    <!-- Custom CSS File -->
    <link rel="stylesheet" href="{{url_for('static', filename='styles/login.css')}}">

    <!-- Custom JavaScript -->
    <script type="text/javascript" src= "{{url_for('static', filename='scripts/login.js')}}"></script>

{% endblock %}